body{
    margin: 0;
    padding: 0;
    background-color: #232323;
    color: white;


    font-family: 'Josefin Sans', sans-serif;
}
.container{
    height: 96vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main{
    background-color: #555454;
    border-radius: 10px;
    padding: 1.5rem 1.5rem;
    width: 60%;
}
p{
    color: rgb(228, 228, 228);
}
input{
    padding: 0 10px;
    width: 95%;
    height: 2rem;
    margin-bottom: .8rem;
    border-radius: 4px;
    border-style: solid;
    border:none
}
button{
    height: 2rem;
    padding: 5px 20px;
    color: white;
    transition: all ease-in-out 250ms;
    background-color: transparent;
    border-radius: 3px;

}
.submit{
    border: 1px solid green;
}
.submit:hover{
    background-color: green;
}
.copy{
    border: 1px solid rgb(43, 172, 204);
}
.copy:hover{
    background-color: rgb(43, 172, 204);
}

input:nth-child(1){
    margin-top: .7rem;
}
#result{
    max-width: 90vw;
}
#copy-btn{
    display: none;
}

@media (max-width: 767px) {
    .main{
        width: 75%;
    }
    .container{
        height: 96vh;
    }
}

/* New  */

.copy-field {
    position: relative;
    display: inline-block;
  }
  
  .copy-field .hovertext {
    visibility: hidden;
    width: 140px;
    background-color: rgb(55, 192, 62);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -75px;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .copy-field .hovertext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: rgb(55, 192, 62) transparent transparent transparent;
  }
  
  .copy-field:hover .hovertext {
    visibility: visible;
    opacity: 1;
  }

footer{
    margin-bottom: 2%;
    width: 100vw;
    display: flex;
    justify-content: center;
}
footer a:link {
    display: block;
    color: rgb(214, 214, 214);
    background-color: transparent;
    text-decoration: none;
    font-size: .6rem;
}